body {
	font-family: Arial;
    font-size:18px;	  
}

div.post-container {
	background-color: white;
	width: 350px;
    margin-bottom: 20px;
    border-radius:20px;     
    border-style:inset;	
    word-wrap: break-word; 
}

.author
{
	font-size:16px;
	font-style:italic;
}

div.post-container2
{
	background-color: white;
	width: 350px;
    margin-bottom: 20px;
    position: absolute; 
  	top: 10em; 
  	border-radius:20px;     
    border-style:outset;
  	right: 1em;
} 

div.post-container3
{
	background-color: white;
	width: 350px;
	border-radius:20px;     
    margin-bottom: 20px;
    border-style:outset;
    word-wrap: break-word; 
 
}

.size-image
{
	width:90px;
	height:90px;
	border-radius:50px;
    float:left;
}

.main
{
	background-color: WhiteSmoke;
}

.title
{
	background-image: url(./untitled.jpg);
	border-radius:15px;
	height:85px;
	width:100%;
}
div.container-form
{
	background-color: AliceBlue;
	width: 300px;
    height: 150px;
    position: absolute;
    top: -25;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-style:all;	 
}